<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Ajouter</button>
      <button>Supprimer</button>
      <button>Modifier</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">2.56 €</td>
          <td class="qty">150</td>
        </tr>
        <tr>
          <td class="name">Tournevis cruciforme</td>
          <td class="price">1.20 €</td>
          <td class="qty">150</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">10 €</td>
          <td class="qty">50</td>
        </tr>
        <tr>
          <td class="name">Tondeuse</td>
          <td class="price">55 €</td>
          <td class="qty">14</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
