<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi explicabo
    consectetur omnis in obcaecati cumque quaerat doloribus incidunt, possimus
    quisquam voluptate impedit, sequi odio odit, rem nesciunt! Enim, dignissimos
    ut?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit totam
    pariatur eos voluptates sed earum, nulla quidem laborum cum officia libero
    ex expedita consectetur debitis explicabo modi vero provident aperiam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dignissimos
    impedit quod id, ab nihil, eveniet accusantium modi omnis necessitatibus
    perferendis expedita voluptatibus, quos beatae ullam praesentium ipsam eos
    fugiat!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cumque
    consectetur blanditiis ullam quos cum in harum facilis recusandae,
    cupiditate quasi sint porro amet voluptate eos facere ducimus molestias
    corrupti!
  </p>
  <div>
    Icons made by
    <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</main>
