/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em;

  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

button {
  padding: 0.5em 1em;

  &:not(:disabled) {
    cursor: pointer;

    background-color: #eee;
    border: 0.1em solid #eee;

    &:hover {
      background-color: #ddd;
      border-color: #ddd;
    }
    &:active {
      background-color: #ccc;
      border-color: #ccc;
    }

    &.primary {
      background-color: #333;
      border-color: #333;
      color: #fff;

      &:hover {
        background-color: #555;
        border-color: #555;
      }
      &:active {
        background-color: #777;
        border-color: #777;
      }
    }
  }
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;

  label {
    padding-bottom: 0.5em;
  }

  input {
    border: 0.1em solid #bbb;
    padding: 0.5em 1em;
    width: 100%;
  }

  button {
    margin-top: 2em;
  }
}
